@import 'reset';

@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property;
    tranasform: $property;
}

.box{
    @include transform(rotate(30deg));
}

$color-primary: teal;

body{
    font: 100% Helvetica, sans-serif;
    background-color: #EFEFEF;
}

.title{
    color: $color-primary;
}